.icon-16 {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.icon-16>svg {
  width: 16px;
  height: 16px;
}

.app-footer {
  margin-top: auto;
  padding: 1rem 0;
}

.app-footer .copyright {
  font-size: smaller;
}